.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 20px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.searchRow {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.searchInput {
    flex: 1;
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid #d0d0d0;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

.searchInput:focus {
    border-color: #3b82f6;
}

.searchBtn {
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    background: #3b82f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.searchBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.card {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
.posterWrapper {
    position: relative;
    width: 100%;
    height: 270px;
    border-radius: 14px;
    overflow: hidden;
}
.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cardTitle {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.rating {
    position: absolute;
    bottom: 10px;
    right: 10px;

    background: #ffd600;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    color: black;
    border-radius: 8px;
}



.pagination {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}


.message {
    padding: 40px;
    font-size: 22px;
    text-align: center;
    opacity: 0.6;
}

.pagination :global(.MuiPaginationItem-root) {
    color: var(--text);
}

.pagination :global(.MuiPaginationItem-root.Mui-selected) {
    background-color: var(--header-button-bg);
    color: var(--text);
    border: 1px solid var(--theme-btn-border);
}

.pagination :global(.MuiPaginationItem-root:hover) {
    background-color: var(--header-button-hover);
}

