.select {
    width: 100%;
    padding: 12px 14px;
    border-radius: 12px;
    border: 1px solid var(--header-border);
    background: var(--theme-btn-bg);
    color: var(--text);
    font-size: 14px;
    cursor: pointer;
    transition: 0.25s;
}

.select:hover {
    border-color: #3b48f3;
}

.select:focus {
    outline: none;
    border-color: #3b48f3;
}
