.card {
    position: relative;
    cursor: pointer;
    width: 180px;
}

.posterWrapper {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 12px;
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 8px;
}

.rating {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgba(0,0,0,0.6);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}


.favoriteBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.25s ease;
}

.card:hover .favoriteBtn {
    opacity: 1;
}


.active {
    opacity: 1 !important;
    transform: scale(1.1);
}
