.wrapper {
    width: 100%;
    height: 420px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    padding: 40px;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px 30px;
    border-radius: 12px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.subtitle {
    color: #ddd;
    font-size: 18px;
    margin-top: 6px;
}
