
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    transition: background 0.25s, color 0.25s;
}


#app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.layout {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


:root {
    --bg: #ffffff;
    --header-bg: #f5f6f8;
    --header-border: #e3e4e7;

    --text: #111;
    --link-hover: #e8e9eb;

    --theme-btn-bg: #ffffff;
    --theme-btn-border: #d7d8da;

    --header-button-bg: #ffffff;
    --header-button-hover: #f0f0f1;

    --page-bg: #ffffff;
}

[data-theme="dark"] {
    --bg: #121314;
    --header-bg: #1b1c1e;
    --header-border: #2b2c2e;

    --text: #f1f1f1;
    --link-hover: #2d2f31;

    --theme-btn-bg: #2a2b2d;
    --theme-btn-border: #3a3b3d;

    --header-button-bg: #2a2b2d;
    --header-button-hover: #353638;

    --page-bg: #121314;
}

/* transitions */
a, button, input, div {
    transition: background 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

.btn {
    .pagination-dark .MuiPaginationItem-root {
        color: var(--text) !important;
        border-color: var(--text) !important;
    }

    .pagination-dark .MuiPaginationItem-root:hover {
        background: var(--header-button-hover) !important;
    }

    .pagination-dark .Mui-selected {
        background: #3b48f3 !important;
        color: white !important;
    }

    .pagination-dark .MuiPaginationItem-ellipsis {
        color: var(--text) !important;
    }
}
